{{ form_start(form) }}
    {{ form_widget(form) }}
    {% if is_granted("ROLE_ADMIN") %}
        <div class="form-group">
            <label>Select user roles</label>
            <select class="form-select" name="roles[]" multiple aria-label="Select roles">
                <option value="ROLE_USER">ROLE_USER</option>
                <option value="ROLE_ADMIN">ROLE_ADMIN</option>
            </select>
        </div>
    {% endif %}
    <div class="d-grid gap-2">
        <button class="btn btn-success mt-2 rounded-0">
            {{ button_label|default('Register user') }}
        </button>
    </div>
{{ form_end(form) }}
