{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-grid gap-2">
        <button class="btn btn-success mt-2 rounded-0">
            {{ button_label|default('Save category') }}
        </button>
    </div>
{{ form_end(form) }}
