{% extends 'base.html.twig' %}

{% block title %}Create a new rating{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mt-5 rounded-0">
                <div class="card-header">
                    <h1>Create a new rating</h1>
                </div>
                <div class="card-body">
                    {{ include('rating/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
