{% extends 'base.html.twig' %}
{% block title %} Redéfinir le mot de passe?{% endblock %}

{% block body %}

  <div class="container mt-5 contenu">
    <div class="row mb-3">
      <div class="col" align="center">
        <div class="card">
          <h5 class="card-header info-color white-text text-center py-4 mb-3">
                  <strong>Redéfinir le mot de passe !</strong>
          </h5>
            
          <div class="card-body px-lg-5 pt-0">

            {{form_start(form)}}

              <div class="form-group row">   
                {{ form_label(form.newPassword) }}
                <div class="col-sm-10">
                  <div class="md-form mt-0">
                    {{ form_widget(form.newPassword,  {'id': 'password'}, {'attr': {'class': 'form-control mb-4'}}) }}
                  </div>
                </div>        
              </div>  
          
            
              <div class="form-group row">    
                  {{ form_label(form.confirmPassword) }}
                  <div class="col-sm-10">
                    <div class="md-form mt-0">
                      {{ form_widget(form.confirmPassword, {'id': 'password-custom'}, {'attr': {'class': 'form-control mb-4'}} ) }}
                    </div>
                  </div>         
              </div>

              <div class="form-group-row">
                <div class="col-sm-10"> 
                  <button class="btn btn-dark btn-md">Envoyer</button>      
                </div>
              </div>
              
            {{form_end(form)}}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

