{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Hom page</h1>
                <p class="lead text-muted">This page contains the last 3 registered users and the last added product to the application</p>
                <p>
                    <a href="{{ path('product_new') }}" class="btn btn-primary my-2 rounded-0">
                        Create a product
                    </a>
                    <a href="{{ path('user_register') }}" class="btn btn-secondary my-2 rounded-0">
                        Register
                    </a>
                </p>
            </div>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">
            <h2>Last 3 Products</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for product in products %}
                    <div class="col">
                    <div class="card shadow-sm rounded-0">
                       {# <svg class="bd-placeholder-img card-img-top rounded-0" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>{{ product.title }}</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                                {{ product.title }}
                            </text>
                          
                        </svg>#}
                         <img src="{{ vich_uploader_asset(product, 'imageFile')}}">
                        <div class="card-body">
                            <p class="card-text">
                                {{ product.description |split(" ")|slice(0, 10)|join(" ") }}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ path('product_show', {'id': product.id}) }}"
                                       class="btn btn-sm btn-outline-secondary rounded-0">
                                        View
                                    </a>
                                    {% if app.user and (app.user.id is same as product.owner.id or is_granted("ROLE_ADMIN")) %}
                                        <a href="{{ path('product_edit', {'id': product.id}) }}"
                                           class="btn btn-sm btn-outline-secondary rounded-0">
                                            Edit
                                        </a>
                                    {% endif %}
                                </div>
                                <small class="text-muted">{{ product.createdAt|ago }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if app.user %}
        <div class="album py-5 bg-light">
        <div class="container">
            <h2>Last 3 User</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for user in users %}
                    <div class="col">
                        <div class="card shadow-sm rounded-0">
                            <svg class="bd-placeholder-img card-img-top rounded-0" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>{{ user.name }}</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect>
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                                    {{ user.name }}
                                </text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">
                                    {{ user.email}}
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{ path('user_show', {'id': user.id}) }}"
                                           class="btn btn-sm btn-outline-secondary rounded-0">
                                            View
                                        </a>
                                        {% if app.user and (app.user.id is same as user.id or is_granted("ROLE_ADMIN")) %}
                                            <a href="{{ path('user_edit', {'id': user.id}) }}"
                                               class="btn btn-sm btn-outline-secondary rounded-0">
                                                Edit
                                            </a>
                                        {% endif %}
                                    </div>
                                    <small class="text-muted">{{ user.createdAt|ago }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
