{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mt-5 rounded-0">
                <div class="card-header">
                    <h1>Edit a Product</h1>
                </div>
                <div class="card-body">
                    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
                {% if app.user.id is same as product.owner.id %}
                    <div class="card-footer">
                        {{ include('product/_delete_form.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
