{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for product in products %}
                    <div class="col">
                        <div class="card shadow-sm rounded-0">
                            {#<a href="{{ path('product_show', {'id': product.id}) }}">
                              <svg class="bd-placeholder-img card-img-top rounded-0" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>{{ product.title }}</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                                {{ product.title }}
                            </text>
                          
                        </svg>
                        
                            </a>#}
                             <img src="{{ vich_uploader_asset(product, 'imageFile')}}">
                            <div class="card-body">
                                <span class="badge bg-primary rounded-0">{{ product.price }} $</span>
                                <p class="card-text">
                                    {{ product.description |split(" ")|slice(0, 10)|join(" ") }}
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{ path('product_show', {'id': product.id}) }}"
                                           class="btn btn-sm btn-outline-secondary rounded-0">
                                            View
                                        </a>
                                        {% if app.user and (app.user.id is same as product.owner.id or is_granted("ROLE_ADMIN")) %}
                                            <a href="{{ path('product_edit', {'id': product.id}) }}"
                                               class="btn btn-sm btn-outline-secondary rounded-0">
                                                Edit
                                            </a>
                                        {% endif %}
                                    </div>
                                    <small class="text-muted">{{ product.createdAt|ago }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
